.pms-home{
    /* min-height: 50vh; */
    /* background-color: var(--primary-cor); */
    background:url('/images/wealthpublic4.png');
    background-size: cover;
    padding-top: 8%;
    padding-bottom: 2%;
    min-height: 100vh;
}
.pms-container{
    background: url('/images/funddetailsbg.jpg');
    background-attachment: fixed;
    background-size: 100%;
    background-position-x: 80%;
}
.home-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
}
.home-img{
    display: flex;
    justify-content: center;
}
.home-img img{
    width: 90%;
}

.home-col h3{
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--text-color);
    /* background-color:yellow; */
    /* padding: 2%; */
    /* box-shadow:inset 1px 2px 5px black; */
    margin-bottom: 2%;
   
}
.home-col h1{
    font-size:35px;
    /* letter-spacing: 2px; */
    /* word-spacing: 3px; */
    color:var(--text-color);
    margin-bottom: 2%;
}
.home-col a{
    width: 50%;
    padding: 2% 3%;
    border: none;
    outline: none;
    background-color: black;
    color:var(--text-color);
    text-align: center;
}
.pms-organization{
    padding-bottom:2%;
    background-color: var(--primary-color);
    color:var(--text-color);
}
.pms-about-section{
    /* padding-bottom: 7%; */
    padding-top: 5%;
    background: url('/images/pmscompanybackgrounc.png');
}
.pms-about-heading , .pms-about-heading p{
    text-transform: capitalize;
    text-align: center;
    margin-top: 1%;
}
.pms-about-heading h1{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.pms-about-heading p{
    color: var(--paragraph-color);
}
.product-row{
    display: flex;
}
.product-col{
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    padding: 1% 0;
    padding-top: 3%;
}
.product-col ul{
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    border-left: 2px solid var(--text-color);
}
.product-col ul li{
    font-size: 20px;
    padding-left: 3%;
}
.product-col ul strong{
    font-family: 'unna';
    font-size: 27px;
}
.product-col h1{
    font-size: 30px;
    padding-left: 5%;
}
.company-row{
    padding-top: 5%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 20px;
}
.company-row h3{
    text-align: center;
    font-size: 20px;
    
}
.company-col{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 15px;  
    height: 40vh;
    flex-wrap: nowrap;
}
.company-col img{
    width:80px ;
    height: 70px;

}
.company-col:not(:last-child){
    border-right: 0.5px solid var(--paragraph-color);
}

.company-icon{
    font-size: 70px;
    color: var(--primary-color);
}
.company-col p{
    text-align: center;
    color: var(--paragraph-color);
    
}
.vision-mission{
    background: url('/images/visionbg.png');
    background-size: cover;
    padding-top: 4%;
    padding-bottom: 2%;
}
.vision-row{
    display: flex;
    align-items: center;
}
.vision-col{
    display: flex;
    flex-direction: column;
    gap: 40px;

}
.vision-col img{
    width: 90%;
}
.vision-inner-col{
    display: flex;
    align-items: center;
    gap: 30px;

}
.vision-icons{
    font-size: 6rem;
    border-radius: 50px;
    color: var(--primary-color);
}
.vision-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.vision-content p{
    color: var(--paragraph-color);
}
.pms-team{
    /* padding: 5% 0; */
    padding-bottom: 5%;
    /* background-color: #f8f9f9; */
    background-color: white;
    margin: 0 !important;
    padding-top: 5%;
}
.team-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* height: 100vh; */
    /* gap: 20px; */
    flex-wrap: nowrap;    
}

.team-card{
    padding: 0;
    /* padding: 2%;    */
    display: flex;   
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;  
}
.team-card img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border:10px solid var(--primary-color);

}

.team-card .team-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    /* padding-top: 2%; */
}
.team-details{
    padding: 0;
    text-align: center;
    /* border: 1px solid black; */
    
}
.team-details h3{
    margin-top: 1%;  
}
.team-details h5{
    color:var(--primary-color);
    font-size: 18px;
    font-style: italic;
    width: 80%;
    margin: 7px auto;
}
.team-details p{
    text-align: center;
    color:var(--paragraph-color);
}
.team-details button{
    background-color: var(--primary-color);
    padding: 2% 4%;
    border: none;
    outline: none;
    margin: 5% auto;
    width: 50%;
    
}
.team-icons{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
    margin-top: 3%;
    color: var(--paragraph-color);
   
}
.team-icons .icons{
    transition: .3s all;
    cursor: pointer;
}
.team-icons .icons:hover{
    color: var(--primary-color);

}
.pms-about-us{
   background-color: white;
    padding: 5% 0;
}
.about-us-row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.about-us-col .img-col{
    display: flex;
    justify-content: center;
    align-items: center;
}
.details-col{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}
.details-col h3{
    position: relative;
    margin-bottom: 2%;
}
.details-col h3::after{
content: '';
  position: absolute;
  width: 10%;
  height: 3px;
  background-color: var(--primary-color);
  top: 35px;
  /* left: 45%; */
  left: 0px;

}
.about-us-col h3{
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--primary-color);
}
.about-us-col h5{
    font-size: 35px;
}

.about-us-col img{
    width: 100%;
}
.about-us-col p{
    color:var(--paragraph-color);
    text-align: justify;
}
.fund-details{
    padding: 5% 0;
    /* background-color: #f9f9f9; */
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6));
    color: white;

}
.fund-row{
    display: flex;
    align-items: center;
    margin-top: 5%;
    justify-content: center;
}
.fund-col{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    row-gap: 40px;
    
}

.fund-left{
    width: 21%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    /* padding-bottom: 8%; */
    
}
.fund-left p{
    text-align: center;
    width: 60%;
    /* color: var(--paragraph-color); */
    color: white;
}
.fund-details .section-heading p{
    color: white;
}
.fund-details .section-heading::after{
    background-color: white;
}
.fund-left h1{
    text-align: center;
    font-size: 25px;
}
.fund-icons{
    font-size: 60px;
    /* color: var(--primary-color); */
    color: #ff2247;
}
.fund-btn{
    width: 12%;
    margin-top: 5%;
    padding: 10px 0;
    text-align: center;
    border: none;
    background-color: var(--primary-color);
    color:var(--text-color);
    outline: none;
}
.custom-accordion {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.accordion-item {
    border: 1px solid black;
    box-shadow: 1px 1px 2px black;
}

.custom-accordion :focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

.accordion-button:not(.collapsed) {
    background-color: #edede8;
    color: black;
    border: none;
    outline: none;
}
.accordion-button:is(.collapsed){
    background-color: #f8f9f9;
}

.philosophy-col img{
    width: 100%;
}
.pms-philosophy{
    padding: 1% 0;
}
.philosophy-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.philosophy-col h3{
    margin-bottom: 5%;
}
.philosophy-col ul{
    display:flex;
    flex-direction: column;
    gap: 15px;
    height: 40vh;
    overflow-y: scroll;
}
.philosophy-col ul li{
    font-size: 15px;
    list-style: none;
    

}
.philosophy-icons{
    font-size: 20px;
    margin-right: 2%;
    color: var(--primary-color);
}
.why-choose-us{
    padding: 2% 0;
    background-color: var(--primary-color);
    color:white;
    margin: 0 !important;

}

.why-choose-us-heading h1{
    position: relative;
    text-transform: uppercase !important;
    font-size: 22px;
    letter-spacing: 3px;

}
.why-choose-us h1::after{
    content: '';
    position: absolute;
    width: 10%;
    height: 3px;
    background-color: white;
    top: 70px;
    left: 45%;

}
.chooseus-img img{
  width: 100%;
}
.chooseus-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chooseus-details{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.why-choose-us h1{
    text-transform: capitalize;
    padding-bottom: 1%;
    padding-top: 2%;
}
.chooseus-details ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* background-color: #ffae42; */
    /* padding: 5% 0; */
    padding-top: 2%;
    
}
.chooseus-details ul li{
    color: rgb(195, 195, 195);
    /* font-style: italic; */
    font-size: 14px;
    text-align: justify;
}
.chooseus-details ul li strong{
    color:var(--text-color);
    font-style: normal;
    font-size: 16px;
}
.choose-icons{
    margin-right: 10px;
    color:var(--text-color);
    font-size: 25px;

}

.how-col{
    display: flex;
    justify-content: center;
}
.how-col img{
    width:80%
}
.how-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
}
.pms-home .swiper-button-prev , .pms-home .swiper-button-next{
    color:white;
    padding: 30px;
    width: 10px !important;
    height: 10px !important;
    
    
}
.pms-home .swiper-button-prev::after , .pms-home .swiper-button-next::after{
    color: white;
}

@media screen and (max-width:900px) {
    .home-col{
        padding: 35% 7%;
        padding-bottom: 20%;
    }
    .home-col h1{
        font-size: 30px;
        text-align: justify;
    }
    .home-col h3{
        font-size: 12px;
    }
    .home-col a{
        width: 70%;
        padding: 4%;
    }
    .home-col{
        gap: 20px;
    }
    .home-img img{
        width: 90%;
        padding-bottom: 5%;
    }
    .pms-home .swiper-button-prev ,.pms-home .swiper-button-next{
        display: none !important;
    }
    .pms-home{
        padding-bottom: 20%;
    }
    .company-row{
        flex-direction: column;
        gap: 20px;
        margin: 0;
        
    }
    .company-col{
        flex-direction: column;
        height: 35vh;
    }
    .company-col:not(:last-child){
        border-right: none;
    }
    .product-col ul{
        flex-direction: column;
    }
    .pms-about-us{
        padding: 20% 0;
    }
    
    .pms-about-section .section-heading p{
        font-size: 14px;
    }
    .company-col p{
        font-size: 14px;
    }
    .about-us-row{
        flex-direction: column;
        padding: 0 5%;
    }
    .about-us-row h5{
        font-size: 10px;
    }
    .details-col h5{
        font-size: 20px;
    }
    .details-col p{
        font-size: 14px;
    }
    .product-col{
        padding: 5% 0;
        text-align: center;
        flex-wrap: wrap;
        width: 100%;
        padding-bottom: 10%;
    }
    .product-col h1{
        margin: auto;
        padding-top: 10%;   
    }
    .product-col ul{
        gap: 40px; 
        margin: 0;
        padding: 0;
        padding-bottom: 10%;
        border: none;
    }
    .product-col ul strong{
        font-size: 30px;
    }
    .product-col ul li{
        font-size: 14px;

    }
    .vision-mission{
        padding: 20% 0;
    }
    .vision-col{
        justify-content: center;
        align-items: center; 
        
    }
    .vision-inner-col{
        gap: 5px;
        padding:0  5%;
        flex-direction: column;
        align-items: start;
    }
    .vision-inner-col h1{
        margin-top: 5%;
    }
    .vision-col img{
        padding-bottom: 10%;
    }
    .vision-icons{
        font-size: 50px;
    }
    .vision-content p{
        font-size: 14px;
    }
    .fund-col{
        flex-direction: column;
        width: 100%;
    }
    .fund-col p{
        width: 100%;
    }
    .fund-left{
        width: 100%;
    }
    .fund-left p{
        font-size: 14px;
    }
    .fund-left h1{
        font-size: 30px;
    }
    .fund-btn{
        width: 40%;
        margin-top: 10%;
        margin-bottom: 20%;
    }
    .chooseus-row{
        flex-direction: column;
    }
    .chooseus-img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .chooseus-details{
        padding: 0 5%;
        margin-top: 10%;
        padding-bottom: 20%;
    }
    .chooseus-details ul li{
        font-size: 14px;
    }
    
    .team-details{
        margin-top: 10%;
        padding: 0 7%;
    }
    .team-details h5{
        font-size: 15px;
    }
    .team-details p{
        font-size: 13px;
       

    }
    .fund-details .section-heading::after , .pms-about-section .section-heading::after{
        top: 70px;
        width: 80px;
        left:39%;
    }
    .why-choose-us-heading{
        margin-top: 10%;
    }
    .why-choose-us-heading h1{
        font-size: 20px;
    }
    .why-choose-us-heading h1::after{
        width: 100px;
        top: 70px;
        left: 35%;
    }
    .pms-container{
        background-repeat: no-repeat;
        background-position: center;
        background-size: 350%;
        background-attachment: fixed;
    }
    .product-col h1{
        position: relative
        ;
    }
    .product-col h1::after{
        content: '';
        position:absolute;
        width: 100px;
        height: 3px;
        background-color: white;
        left: 22%;
        top: 95px;
    }
    
    
}
