.error-page img{
    width:300px;
}
.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8% 0;
}
.error-page h1{
    margin-top: 2%;
    margin-bottom: 2%;
}
.error-page a{
    width: 10%;
    padding: 9px 20px;
    font-size: 19px;
    border: none;
    background-color: #921e31;
    color: white;
    margin-top: 2%;
    text-align: center;
    font-family: 'unna';
}
@media screen and (max-width:800px){
    .error-page{
        padding-top: 30%;
        
    }
    .error-page a{
        margin-top: 5%;
        width: 40%;
    }
}